<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    <title>Martec Solutions</title>
  </head>
  <body>
  
  <div style="background-color: #f7f7f7!important;">
    <div class="container" style="background-color: #f7f7f7!important;">
<!-- ********** NAV BAR ********** -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="headerlogo.png" width="" height="32" alt="" loading="lazy">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="/products/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Products
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/general_information/">JTEC Motor General Information</a>
          <a class="dropdown-item" href="/spec_sheets/">JTEC Motor Spec Sheets</a>
          <a class="dropdown-item" href="/ct_jar/">Coiled Tubing Jar</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="/contact_us/" target="_blank">Purchase</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/contact_us/">Contact Us</a>
      </li>         
    </ul>
   </div>
  </nav>
 </div>
</div>
      
      
      
      
      
    