<%- include('__header') %> 

<div class = "container">
<br>
    
<h3 style="font-style: italic;"> About Martec</h3>
<br>
    
<img src="about_pic.png" class="rounded float-right img-thumbnail" alt="about pic">
<p>MARTEC SOLUTIONS’ J-TEC Mud-Lube Motors and Coil Tubing Jars are manufactured in Houston for a variety of coiled tubing, workover and fishing-intervention applications.  Our goal is to meet our customer’s requirements for dependable and robust downhole tool solutions in a cost-effective manner.  In addition to high quality, reliable and durable downhole tools, MARTEC’s cutting-edge organization is uniquely positioned to provide clients efficient and economical tool solutions in an ever changing and demanding environment.</p>
    
<p> Our J-TEC tools are based on proven designs with thousands of hours of successful service operation in active basins in the USA, Mexico, South America, Africa and the Middle East.  Current downhole tool designs take advantage of continuous design improvements providing for superior quality tools which also allows for straightforward and easy tool maintenance. </p> 
    
<p> MARTEC’s J-TEC mud lube motors are manufactured in sizes ranging from 1½” to 3½” OD.  J-TEC motors are available with a variety of conventional and even-wall power sections from USA manufacturers incorporating superior wear resistant hard rubber-NBR elastomers and 17-4 PH stainless steel chrome coated rotors.  </p>
    
<p> Our J-TEC Dual Acting Coiled Tubing (DACT) Jars are designed for extended reach mill outs with high torque motors.  J-TEC DACT Jars are manufactured with high yield material and come with premium upgrade seals and ID coatings.  Our DACT Jars are available in 2 7/8” and 3 1/8” OD. </p>
    
<p> MARTEC’s downhole tools are sold in both national and international markets with spare part component, technical, and redress training support available to clients.</p>
    
<p> We listen carefully to our customer base while considering their many operating parameters and challenges to provide specific coiled tubing motor and jar solutions.  We look forward to providing effective, reliable, and economical downhole tool solutions to serve and support our customer’s operational objectives.</p>
<br>
<hr>
    
<h3 style="font-style: italic;"> MARTEC MISSION - SIMPLE </h3>
<br> 
<p> Deliver our cost effective, reliable, and durable J-TEC downhole tools on a timely basis to ensure our customers meet their service, operational and production objectives.</p>

</div>
<%- include ('__footer') %>