<%- include('__header') %> 

<div class = "container">
    <br>
    
<h3 style="font-style: italic;"> Contact Us</h3>
<br>
    
<div class="card text-center">
  <h5 class="card-header">Purchasing </h5>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> --> 
    <p class="card-text">If you would like to continue to our online ordering service, please click the button below to navigate there now. Otherwise, feel free to use any of the other contact methods below to talk to a representative about any inquiries you may have.  </p>
    <a href="https://theofmp.com/ofmp/en/USD/sellers/martec-solutions" target="_blank" class="btn btn-primary ">Buy Now</a>
  </div>
</div>
<br>
<div class="row row-cols-1 row-cols-md-2 text-center">
   <div class="col mb-4 my-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title" >SALES</h5>
        <p class="card-text" >Email: sales@martecsolutions.com</p>
        <p class="card-text" >Tele: +1 (281) 376 0238</p>
      </div>
    </div>
  </div>
    <div class="col mb-4 my-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">SPANISH SPEAKING</h5>
        <p class="card-text" >Email: mjc@martecsolutions.com</p>
        <p class="card-text" >Tele: +1 (281) 703 1563</p>
      </div>
    </div>
  </div>
    <div class="col mb-4 my-auto">
    <div class="card h-100 ">
      <div class="card-body">
        <h5 class="card-title">COMMERCIAL OPERATIONS</h5>
        <p class="card-text" >Email: T.crisp@martecsolutions.com</p>
        <p class="card-text" >Tele: +1 (281) 703 9655</p>
      </div>
    </div>
  </div>
    <div class="col mb-4 my-auto">
    <div class="card h-100 ">
      <div class="card-body">
        <h5 class="card-title">MFG OPERATIONS & TECHNICAL SUPPORT</h5>
        <p class="card-text" >Email: J.ward@martecsolutions.com</p>
        <p class="card-text" >Tele: +1 (281) 222 1310</p>
      </div>
    </div>
  </div>
</div>
    
<%- include('__footer') %>