<%- include('__header') %> 
<div class = "container">
<br>
    
<div class="embed-responsive embed-responsive-16by9">
   <object class="embed-responsive-item" data="JTEC_DACT_JAR_FLYER.pdf"
      type="application/pdf" internalinstanceid="9" title="Coiled Tubing Jar Flyer">
      <p>
         Your browser isn't supporting embedded pdf files. You can download the file
         <a href="JTEC_DACT_JAR_FLYER.pdf">here</a>
      </p>
   </object>
</div>    
    
</div>
<%- include('__footer') %> 