<%- include('__header') %> 

<div class = "container">
    <br>
    
    <div id="carouselCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselCaptions" data-slide-to="1"></li>
    <li data-target="#carouselCaptions" data-slide-to="2"></li>
    <li data-target="#carouselCaptions" data-slide-to="3"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active" data-interval="5000">
      <img src="reliable.png" class="d-block w-100" alt="First Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5 style="color:black">Reliable</h5>
        <p style="color:black">Made in the USA</p>
      </div>
    </div>
      
    <div class="carousel-item" data-interval="5000">
      <img src="cost_effective.jpg" class="d-block w-100" alt="Second Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Cost Effective</h5>
        <p>Affordably meet your needs</p>
      </div>
    </div>
    <div class="carousel-item" data-interval="5000">
      <img src="durable.jpg" class="d-block w-100" alt="Third Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Durable</h5>
        <p>Crafted to be the best</p>
      </div>
    </div>
      <div class="carousel-item" data-interval="5000">
      <img src="wide_variety.jpg" class="d-block w-100" alt="Fourth Slide">
      <div class="carousel-caption d-none d-md-block">
        <h5>Wide Variety</h5>
        <p>Choose the parts that work best for you</p>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
  
<br><hr>

  
    
    
<style>
* {
  box-sizing: border-box;
}    
/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 33.33%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
</style>

<h2 style="font-style: italic;">Why Choose Martec Solutions' J-TEC Mud Lube Motors?</h2><br>


<div class="row row-cols-1 row-cols-md-3 text-center">
   <div class="col mb-4 my-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title" >Flexibility - Sub-Assembly & Motor Options:</h5>
        <p class="card-text" >Ability to choose your power section and purchase sub-assemblies(lower and excluding power sections). In addition, you can purchase complete motor assembly with options: SLICK, STABALIZED, STRAIGHT, FIXED, ABH.</p>
      </div>
    </div>
  </div>
    <div class="col mb-4 my-auto">
    <div class="card h-100">
      <div class="card-body">
        <h5 class="card-title">Quick Lead Times & Inventory Programs:</h5>
        <p class="card-text">Initial manufacturing lead times range from 5 to 7 weeks subject ot final confirmation based on required quantity, OD sizes, and WIP. Lead times for follow-up shipments of spare parts or sub-assemblies range between 2 to 4 weeks subject to final confirmation of WIP and finshed inventory. Inventory programs for spare parts are available based on order quantity and frequency.</p>
      </div>
    </div>
  </div>
    <div class="col mb-4 my-auto">
    <div class="card h-100 ">
      <div class="card-body">
        <h5 class="card-title">Redress Training & Service:</h5>
        <p class="card-text">Training for Maintenance Redress is available in Houston with purchase of motors. In Colombia, local maintenance service is available through the authorized R&M facilities.</p>
      </div>
    </div>
  </div>
</div>    
    
    

<!--<div class="row" style= "text-align: center">
    <div class ="card text-center">
  <div class="column" style="background-color:#f7f7f7;">
    <h3>Flexibile Sub-Assembly & Motor Options:</h3>
      <p>Ability to choose your power section and purchase sub-assemblies(lower and excluding power sections). In addition, you can purchase complete motor assembly with options: SLICK, STABALIZED, STRAIGHT, FIXED, ABH.</p>
  </div>
    </div>  
  <div class="column" style="background-color:#f2f2f2;">
    <h3>Redress Training & Service:</h3>
    <p>Training for Maintenance Redress is available in Houston with purchase of motors. In Colombia, local maintenance service is available through the authorized R&M facilities.</p>
  </div>
  <div class="column" style="background-color:#f7f7f7;">
    <h3>Quick Lead Times & Inventory Programs:</h3>
    <p>Initial manufacturing lead times range from 5 to 7 weeks subject ot final confirmation based on required quantity, OD sizes, and WIP. Lead times for follow-up shipments of spare parts or sub-assemblies range between 2 to 4 weeks subject to final confirmation of WIP and finshed inventory. Inventory programs for spare parts are available based on order quantity and frequency.</p>
  </div>
  
</div> -->
    

<!--<h2> Why Martec Solutions? </h2><br>
<h5> Flexibile Sub-Assembly & Motor Options:</h5>
<p> Have t</p> -->    
    

    
    
<br><br>

<div class="card text-center">
  <h5 class="card-header">Want to Know More? </h5>
  <div class="card-body">
    <!-- <h5 class="card-title">Special title treatment</h5> --> 
    <p class="card-text">If you would like to learn more about our products, navigate to the products tab. If preferred,  you can instead click the buttons labeled below to view or download the informational flyers and brochures.  </p>
    <a href="JTEC_MOTOR_FLYER.pdf" target="_blank" class="btn btn-primary ">JTEC Motor Flyer</a>
    <a href="JTEC_MOTOR_BROCHURE.pdf" target="_blank" class="btn btn-primary ">Full JTEC Motor Brochure</a>
    <a href="JTEC_DACT_JAR_FLYER.pdf" target="_blank" class="btn btn-primary ">Coiled Tubing Jar Flyer</a>
  </div>
</div>

      
</div>

 
<%- include('__footer') %> 